body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; 
}

/* Home component */

/* RenderBarChart Component */
.div-barchart{
  position: absolute;
}

/* RenderLineChart Component */
.div-linechart{
  position: relative;
}
