.studentcard-link {
    text-decoration: none;
    color: black;
  }

  .studentcard-container{
    width: 200px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #DBB4AD;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .studentcard-container:hover {
    background-color: #d30c7b;
  }
    
  .studentcard-avatar {
    width: 120px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 20px;
  }
  
  .studentcard-info{
    margin-left: 10px;
  }